<h1>Show one product</h1>


  <section>
    <%= @product['result']['name'] %><br/>
    <%= @product['result']['price_in_cents'] %><br/>
    <%= @product['result']['primary_category'] %><br/>
  </section>